aiohttp==3.2.1
certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
multidict==3.3.0
pytest==3.5.0
pytest-asyncio == 0.8.0
PyYAML==3.12
requests==2.20.1
urllib3==1.22
vcrpy==1.11.1
wrapt==1.10.11
yarl==0.13.0
