interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/genre/anime/1
  response:
    body:
      string: '{"request_hash":"request:genre:6c9c9402d8847e6bea6e71da3c43e4dc8fce8606","request_cached":true,"request_cache_expiry":0,"last_page":72,"mal_url":{"mal_id":0,"type":"anime","name":"","url":""},"item_count":3569,"anime":[{"mal_id":3269,"url":"https:\/\/myanimelist.net\/anime\/3269\/hack__GU_Trilogy","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/4\/23083.jpg","title":".hack\/\/G.U.
        Trilogy","type":"Movie","source":"Game","episodes":1,"rating":"PG-13 - Teens
        13 or older","score":7.17,"members":28087,"synopsis":"Based on the CyberConnect2
        HIT GAME, now will be released in a CG Movie! The Movie will be placed in
        the storyline of each .hack\/\/G.U. games trilogy. The story follows Haseo,
        a player in the online MMORPG called The World:R2 at first depicted as a PKK
        (Player Killer Killer) known as the \"Terror of Death\", a former member of
        the disbanded Twilight Brigade guild. Haseo encounters Azure Kite (believing
        him to be Tri-Edge and blaming him for what happened to Shino) but is hopelessly
        outmatched. Azure Kite easily defeats Haseo and Data Drains him, reducing
        his level from 133 to 1 and leaving him without any items, weapons, or member
        addresses. He is left with a mystery on his hands as to the nature of the
        Data Drain and why Azure Kite is in possession of such a skill. Eventually
        Haseo gains the \"Avatar\" of Skeith. Acquiring the ability to call Skeith
        and wield his abilities, such as Data Drain. With Skeith as his strength,
        Haseo begins the quest for a way to save Shino. He is seen seeking out a PK
        (Player Killer) known as Tri-Edge, whose victims supposedly are unable to
        return to The World after he PKs them. Haseo''s friend, Shino, was attacked
        six months prior to the events of the game by Tri-Edge, and the player herself,
        Shino Nanao, was left in a coma. (Source: AniDB)","producers":[{"mal_id":23,"type":"anime","name":"Bandai
        Visual","url":"https:\/\/myanimelist.net\/anime\/producer\/23\/Bandai_Visual"}],"licensors":["Funimation","Bandai
        Entertainment"],"genres":[{"mal_id":1,"type":"anime","name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"},{"mal_id":11,"type":"anime","name":"Game","url":"https:\/\/myanimelist.net\/anime\/genre\/11\/Game"},{"mal_id":24,"type":"anime","name":"Sci-Fi","url":"https:\/\/myanimelist.net\/anime\/genre\/24\/Sci-Fi"}],"kids":false,"r18":false},{"mal_id":9332,"url":"https:\/\/myanimelist.net\/anime\/9332\/hack__Quantum","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/28371.jpg","title":".hack\/\/Quantum","type":"OVA","source":"Original","episodes":3,"rating":"PG-13
        - Teens 13 or older","score":7.21,"members":34754,"synopsis":"Tobias, Mary,
        and Sakuya challenge the impregnable \"The One Sin\", but they lose their
        way in the maze and unintentionally trap other guild members. A mysterious
     [...]
