interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/top/anime/1/tv
  response:
    body:
      string: '{"request_hash":"request:top:7bdc100eb773528168eefd494c7fbc71e556c85d","request_cached":true,"request_cache_expiry":0,"last_page":87,"top":[{"mal_id":5114,"url":"https:\/\/myanimelist.net\/anime\/5114\/Fullmetal_Alchemist__Brotherhood","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1223\/96541.jpg","title":"Fullmetal
        Alchemist: Brotherhood","type":"TV","episodes":64,"score":9.23,"rank":1,"members":1784363,"start_date":"2009-04-05T00:00:00+00:00","end_date":"2010-07-04T00:00:00+00:00"},{"mal_id":9253,"url":"https:\/\/myanimelist.net\/anime\/9253\/Steins_Gate","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/73199.jpg","title":"Steins;Gate","type":"TV","episodes":24,"score":9.13,"rank":2,"members":1455928,"start_date":"2011-04-06T00:00:00+00:00","end_date":"2011-09-14T00:00:00+00:00"},{"mal_id":28977,"url":"https:\/\/myanimelist.net\/anime\/28977\/Gintama\u00b0","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/3\/72078.jpg","t[...]
