interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/season/archive
  response:
    body:
      string: '{"request_hash":"request:season:04bbcf5222747f998a6fb857268bab958c9a887d","request_cached":true,"request_cache_expiry":-1591766709,"archive":[{"year":2020,"seasons":["Winter","Spring","Summer","Fall"]},{"year":2019,"seasons":["Winter","Spring","Summer","Fall"]},{"year":2018,"seasons":["Winter","Spring","Summer","Fall"]},{"year":2017,"seasons":["Winter","Spring","Summer","Fall"]},{"year":2016,"seasons":["Winter","Spring","Summer","Fall"]},{"year":2015,"seasons":["Winter","Spring","Summer","Fall"]},{"year":2014,"seasons":["Winter","Spring","Summer","Fall"]},{"year":2013,"seasons":["Winter","Spring","Summer","Fall"]},{"year":2012,"seasons":["Winter","Spring","[...]
