interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/season
  response:
    body:
      string: '{"request_hash":"request:season:f4fa845ab208c80105c1436894b195db8ef0f9c4","request_cached":true,"request_cache_expiry":22276,"season_name":"Winter","season_year":2021,"anime":[{"mal_id":40028,"url":"https:\/\/myanimelist.net\/anime\/40028\/Shingeki_no_Kyojin__The_Final_Season","title":"Shingeki
        no Kyojin: The Final Season","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1000\/110531.jpg","synopsis":"Gabi
        Braun and Falco Grice have been training their entire lives to inherit one
        of the seven titans under Marley''s control and aid their nation in eradicating
        the Eldians on Paradis. However, just as all seems well for the two cadets,
        their peace is suddenly shaken by the arrival of Eren Yeager and the remaining
        members of the Survey Corps. \r\n\r\nHaving finally reached the Yeager family
        basement and learned about the dark history surrounding the titans, the Survey
        Corps has at long last found the answer they so desperately fought to uncover.
        With the truth now in their hands, the group set out for the world beyond
        the walls.\r\n\r\nIn Shingeki no Kyojin: The Final Season, two utterly different
        worlds collide as each party pursues its own agenda in the long-awaited conclusion
        to Paradis'' fight for freedom.\r\n\r\n[Written by MAL Rewrite]","type":"TV","airing_start":"2020-12-06T15:10:00+00:00","episodes":16,"members":706629,"genres":[{"mal_id":1,"type":"anime","name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},{"mal_id":38,"type":"anime","name":"Military","url":"https:\/\/myanimelist.net\/anime\/genre\/38\/Military"},{"mal_id":7,"type":"anime","name":"Mystery","url":"https:\/\/myanimelist.net\/anime\/genre\/7\/Mystery"},{"mal_id":31,"type":"anime","name":"Super
        Power","url":"https:\/\/myanimelist.net\/anime\/genre\/31\/Super_Power"},{"mal_id":8,"type":"anime","name":"Drama","url":"https:\/\/myanimelist.net\/anime\/genre\/8\/Drama"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"},{"mal_id":27,"type":"anime","name":"Shounen","url":"https:\/\/myanimelist.net\/anime\/genre\/27\/Shounen"}],"source":"Manga","producers":[{"mal_id":569,"type":"anime","name":"MAPPA","url":"https:\/\/myanimelist.net\/anime\/producer\/569\/MAPPA"}],"score":9.17,"licensors":["Funimation"],"r18":false,"kids":false,"continuing":false},{"mal_id":39617,"url":"https:\/\/myanimelist.net\/anime\/39617\/Yakusoku_no_Neverland_2nd_Season","title":"Yakusoku
        no Neverland 2nd Season","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1815\/110626.jpg","synopsis":"Emma,
        Ray, and the rest of the older children have escaped the confines of the Grace
        Field House. However, with relentless demons set on capturing them, their
        arduous battle for freedom has only just begun.\r\n\r\nDespite venturing[...]
