interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/producer/37
  response:
    body:
      string: '{"request_hash":"request:producer:d2de71db835bd172070ed42e09e4378c87c55a6d","request_cached":true,"request_cache_expiry":0,"last_page":1,"meta":{"mal_id":0,"type":"anime","name":"","url":""},"item_count":1,"anime":[{"mal_id":209,"url":"https:\/\/myanimelist.net\/anime\/209\/ROD__The_TV","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/3\/73350.jpg","title":"R.O.D:
        The TV","type":"TV","source":"Light novel","episodes":26,"rating":"PG-13 -
        Teens 13 or older","score":7.57,"members":58949,"synopsis":"Anita King, Maggie
        Mui, and Michelle Cheung are the Paper Sisters. They run the Three Sisters
        Detective Agency in Hong Kong which is dedicated to solving cases involving
        books. They are hired as local guides for Nenene Sumiregawa, a Japanese novelist
        who has been struggling with writer''s block following the disappearance of
        her longtime friend, Yomiko Readman. The sisters are all Paper Masters\u2014individuals
        with the power to control paper\u201[...]
