interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/anime/457/episodes/1
  response:
    body:
      string: '{"request_hash":"request:anime:d54e4c1cc1bb62afddab845b3796e06bdea00974","request_cached":true,"request_cache_expiry":47615,"episodes_last_page":1,"episodes":[{"episode_id":1,"title":"The
        Green Seat","title_japanese":"\u7dd1\u306e\u5ea7","title_romanji":"Midori
        no Za\u00a0","aired":"2005-10-23T00:00:00+00:00","filler":false,"recap":false,"video_url":null,"forum_url":"https:\/\/myanimelist.net\/forum\/?topicid=12050"},{"episode_id":2,"title":"The
        Light of the Eyelid","title_japanese":"\u77bc\u306e\u5149","title_romanji":"Mabuta
        no Hikari\u00a0","aired":"2005-10-30T00:00:00+00:00","filler":false,"recap":false,"video_url":null,"forum_url":"https:\/\/myanimelist.net\/forum\/?topicid=12480"},{"episode_id":3,"title":"Tender
        Horns","title_japanese":"\u67d4\u3089\u304b\u3044\u89d2","title_romanji":"Yawarakai
        Tsuno\u00a0","aired":"200[...]
