interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/magazine/83
  response:
    body:
      string: '{"request_hash":"request:magazine:a7ef4081af7a95450e760b9dc5a49055a490fbdf","request_cached":true,"request_cache_expiry":0,"last_page":6,"meta":{"mal_id":0,"type":"manga","name":"","url":""},"item_count":256,"manga":[{"mal_id":112115,"url":"https:\/\/myanimelist.net\/manga\/112115\/Act-age","title":"Act-age","image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/2\/209753.jpg","type":"Manga","volumes":null,"score":8.38,"members":18849,"synopsis":"Ever
        since she was a child, Kei Yonagi has been attracted to the idea of acting,
        as she has always attentively watched how actions and emotions differ depending
        on the type of character portrayed. Now a teenager, she is broke, and is the
        only one able to financially support her young siblings. She starts auditioning
        for any role possible, without much success. Her luck begins to change when
        Sumiji Kuroyama, a renowned director, sees Yonagi''s performance and is amazed
        by her ability to immerse herself in the role\u2014the so-called method acting.
        Although she is a diamond in the rough, if she keeps using the same technique
        over and over, it could lead to her being severely damaged. So, he makes the
        decision to help polish her, giving Yonagi the opportunity she needs. However,
        the road ahead of her is far from easy, and she will need to adapt to overcome
        the various challenges that come her way. [Written by MAL Rewrite]","genres":[{"mal_id":27,"type":"manga","name":"Shounen","url":"https:\/\/myanimelist.net\/manga\/genre\/27\/Shounen"}],"authors":[{"mal_id":47663,"type":"people","name":"Matsuki,
        Tatsuya","url":"https:\/\/myanimelist.net\/people\/47663\/Tatsuya_Matsuki"},{"mal_id":47664,"type":"people","name":"Usazaki,
        Shiro","url":"https:\/\/myanimelist.net\/people\/47664\/Shiro_Usazaki"}],"serialization":["Shounen
        Jump (Weekly)"]},{"mal_id":123188,"url":"https:\/\/myanimelist.net\/manga\/123188\/Agravity_Boys","title":"Agravity
        Boys","image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/2\/228642.jpg","type":"Manga","volumes":null,"score":6.52,"members":1432,"synopsis":"The
        year 2118... Four young astronauts head out to the stars to find humanity''s
        new frontier...or so they thought! Two days after they depart, earth is devoured
        by a black hole! Plung[...]
