interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/season/later
  response:
    body:
      string: '{"request_hash":"request:season:7b4caf8304de4cc9fd3443714d6f79ad16274e49","request_cached":true,"request_cache_expiry":-1591766711,"season_name":"Later","season_year":null,"anime":[{"mal_id":39617,"url":"https:\/\/myanimelist.net\/anime\/39617\/Yakusoku_no_Neverland_2nd_Season","title":"Yakusoku
        no Neverland 2nd Season","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1708\/104922.jpg","synopsis":"Second
        season of Yakusoku no Neverland.","type":"TV","airing_start":null,"episodes":null,"members":131796,"genres":[{"mal_id":24,"type":"anime","name":"Sci-Fi","url":"https:\/\/myanimelist.net\/anime\/genre\/24\/Sci-Fi"},{"mal_id":7,"type":"anime","name":"Mystery","url":"https:\/\/myanimelist.net\/anime\/genre\/7\/Mystery"},{"mal_id":40,"type":"anime","name":"Psychological","url":"https:\/\/myanimelist.net\/anime\/genre\/40\/Psychological"},{"mal_id":41,"type":"anime","name":"Thriller","url":"https:\/\/myanimelist.net\/anime\/genre\/41\/Thriller"},{"mal_id":27,"type":"anime","name":"Shounen","url":"https:\/\/myanimelist.net\/anime\/genre\/27\/Shounen"}],"source":"Manga","producers":[],"score":null,"licensors":[],"r18":false,"kids":false,"continuing":false},{"mal_id":39551,"url":"https:\/\/myanimelist.net\/anime\/39551\/Tensei_shitara_Slime_Datta_Ken_2nd_Season","title":"Tensei
        shitara Slime Datta Ken 2nd Season","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1530\/106442.jpg","synopsis":"Second
        season of Tensei shitara Slime Datta Ken.","type":"TV","airing_start":null,"episodes":null,"members":125725,"genres":[{"mal_id":4,"type":"anime","name":"Comedy","url":"https:\/\/myanimelist.net\/anime\/genre\/4\/Comedy"},{[...]
