interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/person/185
  response:
    body: {string: '{"request_hash":"request:person:e4dfe6b4ff33df3b1085d766154617de563b05b3","request_cached":true,"request_cache_expiry":4249,"mal_id":185,"url":"https:\/\/myanimelist.net\/people\/185\/Kana_Hanazawa","image_url":"https:\/\/cdn.myanimelist.net\/images\/voiceactors\/2\/41455.jpg","website_url":"http:\/\/www.hanazawakana-music.net\/","name":"Kana
        Hanazawa","given_name":"\u9999\u83dc","family_name":"\u82b1\u6fa4","alternate_names":["HanaKana","KanaHana"],"birthday":"1989-02-25T00:00:00+00:00","member_favorites":63618,"about":"Hometown:
        Tokyo, Japan\\n\r\nHeight: 156 cm\\n\r\nBlood type: AB\\n\\n\r\nKana Hanazawa
        used to be a junior idol in Akiba where hundreds of people came to watch her,
        which is how she got her breakthrough for her acting career in commercials
        before becoming a voice actor.\\n\\n\r\nThe Office Osawa talent agency represents
        her.\\n\\n\r\nRadio page: http:\/\/www.joqr.co.jp\/blog\/hanazawa\/\\n\r\nTwitter
        (staff): @hanazawa_staff\\n\r\nTwitter (radio): @hitokana_qr\\n\r\nYoutube:
        @kanahanazawaSMEJ","voice_acting_roles":[{"role":"Main","anime":{"mal_id":7669,"url":"https:\/\/myanimelist.net\/anime\/7669\/Bungaku_Shoujo_Kyou_no_Oyatsu__Hatsukoi","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/2\/79900.jpg?s=980839bd08186d6319a5cfca565f5bf1","name":"\"Bungaku
        Shoujo\" Kyou no Oyatsu: Hatsukoi"},"character":{"mal_id":28451,"url":"https:\/\/myanimelist.net\/character\/28451\/Tooko_Amano","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/12\/98993.jpg?s=153d1587d5c004cee7fbff152619455c","name":"Amano,
        Tooko"}},{"role":"Main","anime":{"mal_id":8481,"url":"https:\/\/myanimelist.net\/anime\/8481\/Bungaku_Shoujo_Memoire","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/6\/26770.jpg?s=a1aabf56de99469f83f040c83e6535cd","name":"\"Bungaku
        Shoujo\" Memoire"},"character"[...]
