interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/genres/manga
  response:
    body:
      string: '{"data":[{"mal_id":1,"name":"Action","url":"https:\/\/myanimelist.net\/manga\/genre\/1\/Action","count":8476},{"mal_id":2,"name":"Adventure","url":"https:\/\/myanimelist.net\/manga\/genre\/2\/Adventure","count":3767},{"mal_id":5,"name":"Avant
        Garde","url":"https:\/\/myanimelist.net\/manga\/genre\/5\/Avant_Garde","count":63},{"mal_id":46,"name":"Award
        Winning","url":"https:\/\/myanimelist.net\/manga\/genre\/46\/Award_Winning","count":429},{"mal_id":28,"name":"Boys
        Love","url":"https:\/\/myanimelist.net\/manga\/genre\/28\/Boys_Love","count":9120},{"mal_id":4,"name":"Comedy","[...]
