interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/season/2018/winter
  response:
    body:
      string: '{"status":403,"type":"BadResponseException","message":"Jikan failed
        to connect to MyAnimeList. MyAnimeList may be down\/unavailable or refuses
        to connect","error":"403 on https:\/\/myanimelist.net\/anime\/season\/2018\/winter"}'
    headers:
      Content-Type: application/json
    status:
      code: 503
      message: Service Unavailable
    url: https://api.jikan.moe/v3/season/2018/winter
version: 1
