interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/producers/37
  response:
    body:
      string: '{"data":{"mal_id":37,"url":"https:\/\/myanimelist.net\/anime\/producer\/37\/Studio_Deen","titles":[{"type":"Default","title":"Studio
        Deen"},{"type":"Japanese","title":"\u30b9\u30bf\u30b8\u30aa\u30c7\u30a3\u30fc\u30f3"}],"images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/company\/37.png"}},"favorites":772,"established":"1975-03-14T00:00:00+00:00","about":null,"count":306}}'
    headers:
      Content-Type: application/json
      Last-Modified: Fri, 09 Dec 2022 11:55:22 GMT
      X-Request-Fingerprint: request:producers:378144099b21b7e555fef95d9f06dee1dc23c95e
    status:
      code: 200
      message: OK
    url: https://api.jikan.moe/v4/producers/37
version: 1
