interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/user/nekomata1037/animelist/all
  response:
    body: {string: '{"request_hash":"request:user:b29156c89daf86a3fb70375b5277aea4b721fc6c","request_cached":false,"request_cache_expiry":300,"anime":[{"mal_id":31646,"title":"3-gatsu
        no Lion","video_url":"https:\/\/myanimelist.net\/anime\/31646\/3-gatsu_no_Lion\/video","url":"https:\/\/myanimelist.net\/anime\/31646\/3-gatsu_no_Lion","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/6\/82898.jpg?s=85b3b56c78d3b46331672f082c50687e","type":"TV","watching_status":1,"score":10,"watched_episodes":17,"total_episodes":22,"airing_status":2,"season_name":"Fall","season_year":2016,"has_episode_video":false,"has_promo_video":true,"has_video":true,"is_rewatching":false,"tags":null,"rating":"PG-13","start_date":"2016-10-08T00:00:00+00:00","end_date":"2017-03-18T00:00:00+00:00","watch_start_date":null,"watch_end_date":null,"days":null,"storage":null,"priority":"Low","added_to_list":false,"studios":[{"mal_id":44,"name":"Shaft"}],"licensors":[{"mal_id":493,"name":"Aniplex
        of America"}]},{"mal_id":35834,"title":"Angolmois: Genkou Kassenki","video_url":"https:\/\/myanimelist.net\/anime\/35834\/Angolmois__Genkou_Kassenki\/video","url":"https:\/\/myanimelist.net\/anime\/35834\/Angolmois__Genkou_Kassenki","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1469\/95052.jpg?s=bc9b705917c4a113edb6d22f18e4a415","type":"TV","watching_status":1,"score":0,"watched_episodes":0,"total_episodes":12,"airing_status":2,"season_name":"S[...]
