interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/clubs/379
  response:
    body:
      string: '{"data":{"mal_id":379,"url":"https:\/\/myanimelist.net\/clubs.php?cid=379","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/clubs\/12\/362485.jpg"}},"name":"Fantasy
        Anime League","members":0,"category":"7","created":"2007-07-10T00:00:00+00:00","access":"public"}}'
    headers:
      Content-Type: application/json
      Last-Modified: Tue, 06 Dec 2022 16:59:41 GMT
      X-Request-Fingerprint: request:clubs:c33775d88601ccc7af19eaa8634668ddf8456bda
    status:
      code: 200
      message: OK
    url: https://api.jikan.moe/v4/clubs/379
version: 1
