interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/search/anime?q=naruto&genre=1,2&limit=10&
  response:
    body:
      string: '{"request_hash":"request:search:c79bea65a6c4ad49167bafaa0bd987d55e12bf12","request_cached":true,"request_cache_expiry":431824,"results":[{"mal_id":20,"url":"https:\/\/myanimelist.net\/anime\/20\/Naruto","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405.jpg?s=59241469eb470604a792add6fbe7cce6","title":"Naruto","airing":false,"synopsis":"Moments
        prior to Naruto Uzumaki''s birth, a huge demon known as the Kyuubi, the Nine-Tailed
        Fox, attacked Konohagakure, the Hidden Leaf Village, and wreaked havoc. In
        order to put an end to the Kyuubi''...","type":"TV","episodes":220,"score":7.91,"start_date":"2002-10-03T00:00:00+00:00","end_date":"2007-02-08T00:00:00+00:00","members":1149798,"rated":"PG-13"},{"mal_id":1735,"url":"https:\/\/myanimelist.net\/anime\/1735\/Naruto__Shippuuden","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/17407.jpg?s=2bf24a22a339223dcadb1cdfc3307b61","title":"Naruto:
        Shippuuden","airing":false,"synopsis":"It has been two and a half years since
        Naruto Uzumaki left Konohagakure, the Hidden Leaf Village, for intense training
        following events which fueled his desire to be stronger. Now Akatsuki, the
        myster...","type":"[...]
