interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/anime/457
  response:
    body:
      string: '{"data":{"mal_id":457,"url":"https:\/\/myanimelist.net\/anime\/457\/Mushishi","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/2\/73862.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/2\/73862t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/2\/73862l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/2\/73862.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/2\/73862t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/2\/73862l.webp"}},"trailer":{"youtube_id":"h371H0KIuPo","url":"https:\/\/www.youtube.com\/watch?v=h371H0KIuPo","embed_url":"https:\/\/www.youtube.com\/embed\/h371H0KIuPo?enablejsapi=1&wmode=opaque&autoplay=1","images":{"image_url":"https:\/\/img.youtube.com\/vi\/h371H0KIuPo\/default.jpg","small_image_url":"https:\/\/img.youtube.com\/vi\/h371H0KIuPo\/sddefault.jpg","medium_image_url":"https:\/\/img.youtube.com\/vi\/h371H0KIuPo\/mqdefault.jpg","large_image_url":"https:\/\/img.youtube.com\/vi\/h371H0KIuPo\/hqdefault.jpg","maximum_image_url":"https:\/\/img.youtube.com\/vi\/h371H0KIuPo\/maxresdefault.jpg"}},"approved":true,"titles":[{"type":"Default","title":"Mushishi"},{"type":"Japanese","title":"\u87f2\u5e2b"},{"type":"English","title":"Mushi-Shi"},{"type":"German","title":"Mushi-Shi"},{"type":"Spanish","title":"Mushi-Shi"},{"type":"French","title":"Mushi-Shi"}],"title":"Mushishi","title_english":"Mushi-Shi","title_japanese":"\u87f2\u5e2b","title_synonyms":[],"type":"TV","source":"Manga","episodes":26,"status":"Finished
        Airing","airing":false,"aired":{"from":"2005-10-23T00:00:00+00:00","to":"2006-06-19T00:00:00+00:00","prop":{"from":{"day":23,"month":10,"year":2005},"to":{"day":19,"month":6,"year":2006}},"string":"Oct
        23, 2005 to Jun 19, 2006"},"duration":"25 min per ep","rating":"PG-13 - Teens
        13 or older","score":8.67,"scored_by":261195,"rank":59,"popularity":204,"members":767405,"favorites":25340,"synopsis":"\"Mushi\":
        the most basic forms of life in the world. They exist without any goals or
        purposes aside from simply \"being.\" They are beyond the shackles of the
        words \"good\" and \"evil.\" Mushi can exist in countless forms and are capable
        of mimicking things from the natural world such as plants, diseases, and even
        phenomena like rainbows.\n\nThis is, however, just a vague definition of these
        entities that inhabit the vibrant world of Mushishi, as to even call them
        a form of life would be an oversimplification. Detailed information on Mushi
        is scarce because the majority of humans are unaware of their existence.\n\nSo
        what are Mushi and why do they exist? This is the question that a \"Mushishi,\"
        Ginko, ponders constantly. Mushishi are those who research Mushi in hopes
        of understanding their place in the world''s hierarchy of life.\n\nGinko chases
        rumors of occurrences that could be tied to Mushi, all for the sake of finding
        an answer.\n\nIt could, after all, lead to the meaning of life itself.\n\n[Written
        by MAL Rewrite]","background":"Mushishi is an adaptation of Yuki Urushibara''s
        award-winning manga of the same name. The series adapts the first 26 chapters
        of the manga, adapting one per episode. The anime aired these stories in a
        different order than that of the manga. The series won the Tokyo Anime Award
        in the Television category in 2006. The series premiered on October 23, 2005,
        but went on hiatus on March 12, 2006 after having aired 20 episodes. Broadcast
        resumed on May 15, and aired the remaining 6 episodes, concluding on June
        19, 2006.","season":"fall","year":2005,"broadcast":{"day":"Sundays","time":"03:40","timezone":"Asia\/Tokyo","string":"Sundays
        at 03:40 (JST)"},"producers":[{"mal_id":52,"type":"anime","name":"Avex Entertainment","url":"https:\/\/myanimelist.net\/anime\/producer\/52\/Avex_Entertainment"},{"mal_id":82,"type":"anime","name":"Marvelous","url":"https:\/\/myanimelist.net\/anime\/producer\/82\/Marvelous"},{"mal_id":147,"type":"anime","name":"SKY
        Perfect Well Think","url":"https:\/\/myanimelist.net\/anime\/producer\/147\/SKY_Perfect_Well_Think"},{"mal_id":711,"type":"anime","name":"Delfi
        Sound","url":"https:\/\/myanimelist.net\/anime\/producer\/711\/Delfi_Sound"}],"licensors":[{"mal_id":102,"type":"anime","name":"Funimation","url":"https:\/\/myanimelist.net\/anime\/producer\/102\/Funimation"}],"studios":[{"mal_id":8,"type":"anime","name":"Artland","url":"https:\/\/myanimelist.net\/anime\/producer\/8\/Artland"}],"genres":[{"mal_id":2,"type":"anime","name":"Adventure","url":"https:\/\/myanimelist.net\/anime\/genre\/2\/Adventure"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"},{"mal_id":7,"type":"anime","name":"Mystery","url":"https:\/\/myanimelist.net\/anime\/genre\/7\/Mystery"},{"mal_id":36,"type":"anime","name":"Slice
        of Life","url":"https:\/\/myanimelist.net\/anime\/genre\/36\/Slice_of_Life"},{"mal_id":37,"type":"anime","name":"Supernatural","url":"https:\/\/myanimelist.net\/anime\/genre\/37\/Supernatural"}],"explicit_genres":[],"themes":[{"mal_id":50,"type":"anime","name":"Adult
        Cast","url":"https:\/\/myanimelist.net\/anime\/genre\/50\/Adult_Cast"},{"mal_id":13,"type":"anime","name":"Historical","url":"https:\/\/myanimelist.net\/anime\/genre\/13\/Historical"},{"mal_id":63,"type":"anime","name":"Iyashikei","url":"https:\/\/myanimelist.net\/anime\/genre\/63\/Iyashikei"}],"demographics":[{"mal_id":42,"type":"anime","name":"Seinen","url":"https:\/\/myanimelist.net\/anime\/genre\/42\/Seinen"}]}}'
    headers:
      Content-Type: application/json
      Last-Modified: Fri, 09 Dec 2022 06:40:25 GMT
      X-Request-Fingerprint: request:anime:b4785d63f3bebc9281dfe6b2b3173ee064ae32ba
    status:
      code: 200
      message: OK
    url: https://api.jikan.moe/v4/anime/457
version: 1
