interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/seasons/2018/winter
  response:
    body:
      string: '{"pagination":{"last_visible_page":3,"has_next_page":true,"current_page":1,"items":{"count":25,"total":58,"per_page":25}},"data":[{"mal_id":33352,"url":"https:\/\/myanimelist.net\/anime\/33352\/Violet_Evergarden","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1795\/95088.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1795\/95088t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1795\/95088l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1795\/95088.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1795\/95088t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1795\/95088l.webp"}},"trailer":{"youtube_id":"g5xWqjFglsk","url":"https:\/\/www.youtube.com\/watch?v=g5xWqjFglsk","embed_url":"https:\/\/www.youtube.com\/embed\/g5xWqjFglsk?enablejsapi=1&wmode=opaque&autoplay=1","images":{"image_url":"https:\/\/img.youtube.com\/vi\/g5xWqjFglsk\/default.jpg","small_image_url":"https:\/\/img.youtube.com\/vi\/g5xWqjFglsk\/sddefault.jpg","medium_image_url":"https:\/\/img.youtube.com\/vi\/g5xWqjFglsk\/mqdefault.jpg","large_image_url":"https:\/\/img.youtube.com\/vi\/g5xWqjFglsk\/hqdefault.jpg","maximum_image_url":"https:\/\/img.youtube.com\/vi\/g5xWqjFglsk\/maxresdefault.jpg"}},"approved":true,"titles":[{"type":"Default","title":"Violet
        Evergarden"},{"type":"Japanese","title":"\u30f4\u30a1\u30a4\u30aa\u30ec\u30c3\u30c8\u30fb\u30a8\u30f4\u30a1\u30fc\u30ac\u30fc\u30c7\u30f3"},{"type":"English","title":"Violet
        Evergarden"}],"title":"Violet Evergarden","title_english":"Violet Evergarden","title_japanese":"\u30f4\u30a1\u30a4\u30aa\u30ec\u30c3\u30c8\u30fb\u30a8\u30f4\u30a1\u30fc\u30ac\u30fc\u30c7\u30f3","title_synonyms":[],"type":"TV","source":"Light
        novel","episodes":13,"status":"Finished Airing","airing":false,"aired":{"from":"2018-01-11T00:00:00+00:00","to":"2018-04-05T00:00:00+00:00","prop":{"from":{"day":11,"month":1,"year":2018},"to":{"day":5,"month":4,"year":2018}},"string":"Jan
        11, 2018 to Apr 5, 2018"},"duration":"24 min per ep","rating":"PG-13 - Teens
        13 or older","score":8.67,"scored_by":868349,"rank":60,"popularity":51,"members":1589845,"favorites":54874,"synopsis":"The
        Great War finally came to an end after four long years of conflict; fractured
        in two, the continent of Telesis slowly began to flourish once again. Caught
        up in the bloodshed was Violet Evergarden, a young girl raised for the sole
        purpose of decimating enemy lines. Hospitalized and maimed in a bloody skirmish
        during the War''s final leg, she was left with only words from the person
        she held dearest, but with no understanding of their meaning.\n\nRecovering
        from her wounds, Violet starts a new life working at CH Postal Services after
        a falling out with her new intended guardian family. There, she witnesses
        by pure chance the work of an \"Auto Memory Doll,\" amanuenses that transcribe
        people''s thoughts and feelings into words on paper. Moved by the notion,
        Violet begins work as an Auto Memory Doll, a trade that will take her on an
        adventure, one that will reshape the lives of her clients and hopefully lead
        to self-discovery.\n\n[Written by MAL Rewrite]","background":null,"season":"winter","year":2018,"broadcast":{"day":"Thursdays","time":"00:00","timezone":"Asia\/Tokyo","string":"Thursdays
        at 00:00 (JST)"},"producers":[{"mal_id":104,"type":"anime","name":"Lantis","url":"https:\/\/myanimelist.net\/anime\/producer\/104\/Lantis"},{"mal_id":144,"type":"anime","name":"Pony
        Canyon","url":"https:\/\/myanimelist.net\/anime\/producer\/144\/Pony_Canyon"},{"mal_id":211,"type":"anime","name":"Rakuonsha","url":"https:\/\/myanimelist.net\/anime\/producer\/211\/Rakuonsha"},{"mal_id":1500,"type":"anime","name":"ABC
        Animation","url":"https:\/\/myanimelist.net\/anime\/producer\/1500\/ABC_Animation"}],"licensors":[{"mal_id":102,"type":"anime","name":"Funimation","url":"https:\/\/myanimelist.net\/anime\/producer\/102\/Funimation"}],"studios":[{"mal_id":2,"type":"anime","name":"Kyoto
        Animation","url":"https:\/\/myanimelist.net\/anime\/producer\/2\/Kyoto_Animation"}],"genres":[{"mal_id":8,"type":"anime","name":"Drama","url":"https:\/\/myanimelist.net\/anime\/genre\/8\/Drama"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"}],"explicit_genres":[],"themes":[],"demographics":[]},{"mal_id":35849,"url":"https:\/\/myanimelist.net\/anime\/35849\/Darling_in_the_FranXX","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1614\/90408.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1614\/90408t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1614\/90408l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1614\/90408.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\[...]
