interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/user/nekomata1037/animelist/all?search=fate
  response:
    body:
      string: '{"status":403,"type":"BadResponseException","message":"Jikan failed
        to connect to MyAnimeList. MyAnimeList may be down\/unavailable or refuses
        to connect","error":"403 on https:\/\/myanimelist.net\/animelist\/nekomata1037\/load.json?offset=0&status=7&s=fate"}'
    headers:
      Content-Type: application/json
    status:
      code: 503
      message: Service Unavailable
    url: https://api.jikan.moe/v3/user/nekomata1037/animelist/all?search=fate
version: 1
