interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/anime/457/episodes?page=1
  response:
    body:
      string: '{"pagination":{"last_visible_page":1,"has_next_page":true},"data":[{"mal_id":1,"url":"https:\/\/myanimelist.net\/anime\/457\/Mushishi\/episode\/1","title":"The
        Green Seat","title_japanese":"\u7dd1\u306e\u5ea7","title_romanji":"Midori
        no Za\u00a0","aired":"2005-10-23T00:00:00+00:00","score":4.5,"filler":false,"recap":false,"forum_url":"https:\/\/myanimelist.net\/forum\/?topicid=12050"},{"mal_id":2,"url":"https:\/\/myanimelist.net\/anime\/457\/Mushishi\/episode\/2","title":"The
        Light of the Eyelid","title_japanese":"\u77bc\u306e\u5149","title_romanji":"Mabuta
        no Hikari\u00a0","aired":"2005-10-30T00:00:00+00:00","score":4.6,"filler":false,"recap":false,"forum_url":"https:\/\/myanimelist.net\/forum\/?topicid=12480"},{"mal_id":3,"url":"https:\/\/myanimelist.net\/anime\/457\/Mushishi\/episode\/3","title":"Tender
  [...]
