interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/search/anime?q=naruto&genre=10&
  response:
    body: {string: '{"request_hash":"request:search:93668629fcc88077d92330c8f839af79b6311301","request_cached":false,"request_cache_expiry":43200,"results":[{"mal_id":2472,"url":"https:\/\/myanimelist.net\/anime\/2472\/Naruto__Shippuuden_Movie_1","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/6\/79705.jpg?s=80162f3e16a4b76638f535bf23ac324c","title":"Naruto:
        Shippuuden Movie 1","airing":false,"synopsis":"A group of ninja is planning
        to revive a powerful demon, and once its spirit is reunited with its body,
        the world will be destroyed. The only way to prevent this from happening is
        for Shion, a shrine...","type":"Movie","episodes":1,"score":7.4,"start_date":"2007-08-04T00:00:00+00:00","end_date":"2007-08-04T00:00:00+00:00","members":154627,"rated":"PG-13"},{"mal_id":936,"url":"https:\/\/myanimelist.net\/anime\/936\/Naruto_Movie_2__Dai_Gekitotsu_Maboroshi_no_Chiteiiseki_Dattebayo","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/11\/76016.jpg?s=77c701f8a3bd608240c69f4080212431","title":"Naruto
        Movie 2: Dai Gekitotsu! Maboroshi no Chiteiiseki Dattebayo!","airing":false,"synopsis":"Naruto,
        Shikamaru, and Sakura are executing their mission of delivering a lost pet
        to a certain village. However, right in the m[...]
