interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/people/185
  response:
    body:
      string: '{"data":{"mal_id":185,"url":"https:\/\/myanimelist.net\/people\/185\/Kana_Hanazawa","website_url":"https:\/\/hanazawa-kana.com\/","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/voiceactors\/3\/69318.jpg"}},"name":"Kana
        Hanazawa","given_name":"\u9999\u83dc","family_name":"\u82b1\u6fa4","alternate_names":["HanaKana","KanaHana"],"birthday":"1989-02-25T00:00:00+00:00","favorites":99239,"about":"Hometown:
        Tokyo, Japan\nHeight: 156 cm\nBlood type: AB\n\nKana Hanazawa used to be a
        junior idol in Akiba where hundreds of people came to watch her, which is
        how she got her breakthrough for her acting career in commercials before becoming
        a voice actor.\n\nThe Office Osawa talent agency represents her.\n\nMarried
        to the voice actor Kensho Ono.\n\nAgency profile: https:\/\/osawa-inc.co.jp\/women\/hanazawakana\/\nMusic
        home page (Sony Music): http:\/\/www.hanazawakana-music.net\/\nRadio page:
        http:\/\/www.joqr.co.jp\/blog\/hanazawa\/\nTwitter (Staff): @hanazawa_staff\nTwitter
        (Radio): @hitokana_qr\nYouTube: @Kana Hanazawa\nInstagram: @hanazawa_kana.official\nTikTok:
        @hanazawa_kana.official"}}'
    headers:
      Content-Type: application/json
      Last-Modified: Fri, 09 Dec 2022 13:51:30 GMT
      X-Request-Fingerprint: request:people:0216c2133e62728705b36131a661f146d7f5220c
    status:
      code: 200
      message: OK
    url: https://api.jikan.moe/v4/people/185
version: 1
