interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/top/anime/1/tv
  response:
    body: {string: '{"request_hash":"request:top:7bdc100eb773528168eefd494c7fbc71e556c85d","request_cached":true,"request_cache_expiry":38261,"top":[{"mal_id":5114,"rank":1,"title":"Fullmetal
        Alchemist: Brotherhood","url":"https:\/\/myanimelist.net\/anime\/5114\/Fullmetal_Alchemist__Brotherhood","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1223\/96541.jpg?s=faffcb677a5eacd17bf761edd78bfb3f","type":"TV","episodes":64,"start_date":"Apr
        2009","end_date":"Jul 2010","members":1347686,"score":9.24},{"mal_id":9253,"rank":2,"title":"Steins;Gate","url":"https:\/\/myanimelist.net\/anime\/9253\/Steins_Gate","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/73199.jpg?s=97b97d568f25a02cf5a22dda13b5371f","type":"TV","episodes":24,"start_date":"Apr
        2011","end_date":"Sep 2011","members":1132690,"score":9.14},{"mal_id":28977,"rank":3,"title":"Gintama\u00b0","url":"https:\/\/myanimelist.net\/anime\/28977\/Gintama\u00b0","image_url":"https:\/\/cdn.myanimelist.net\/images\/anim[...]
