interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/producer/37
  response:
    body: {string: '{"request_hash":"request:producer:d2de71db835bd172070ed42e09e4378c87c55a6d","request_cached":true,"request_cache_expiry":42129,"meta":{"mal_id":37,"type":"anime","name":"Studio
        Deen","url":"https:\/\/myanimelist.net\/anime\/producer\/37\/Studio_Deen"},"anime":[{"mal_id":30831,"url":"https:\/\/myanimelist.net\/anime\/30831\/Kono_Subarashii_Sekai_ni_Shukufuku_wo","title":"Kono
        Subarashii Sekai ni Shukufuku wo!","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/8\/77831.jpg?s=c79dc6eecfc37d19d2fa0abe7de256b1","synopsis":"After
        dying a laughable and pathetic death on his way back from buying a game, high
        school student and recluse Kazuma Satou finds himself sitting before a beautiful
        but obnoxious goddess named Aqua. She provides the NEET with two options:
        continue on to heaven or reincarnate in every gamer''s dream\u2014a real fantasy
        world! Choosing to start a new life, Kazuma is quickly tasked with defeating
        a Demon King who is terrorizing villages. But before he goes, he can choose
        one item of any kind to aid him in his quest, and the future hero selects
        Aqua. But Kazuma has made a grave mistake\u2014Aqua is completely useless!\r\n\r\nUnfortunately,
        their troubles don''t end here; it turns out that living in such a world is
        far different from how it plays out in a game. Instead of going on a thrilling
        adventure, the duo must first work to pay for their living expenses. Indeed,
        their misfortunes have only just begun!\r\n\r\n[Written by MAL Rewrite]","type":"TV","airing_start":"2016-01-13T16:05:00+00:00","episodes":10,"members":687780,"genres":[{"mal_id":2,"type":"anime","name":"Adventure","url":"https:\/\/myanimelist.net\/anime\/genre\/2\/Adventure"},{"mal_id":4,"type":"anime","name":"Comedy","url":"https:\/\/myanimelist.net\/anime\/genre\/4\/Comedy"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"},{"mal_id":16,"type":"anime","name":"Magic","url":"https:\/\/myanimelist.net\/anime\/genre\/16\/Magic"},{"mal_id":20,"type":"anime","name":"Parody","url":"https:\/\/myanimelist.net\/anime\/genre\/20\/Parody"},{"mal_id":37,"type":"anime","name":"Supernatural","url":"https:\/\/myanimelist.net\/anime\/genre\/37\/Supernatural"}],"source":"Light
        novel","producers":[{"mal_id":37,"type":"anime","name":"Studio Deen","url":"https:\/\/myanimelist.net\/anime\/producer\/37\/Studio_Deen"}],"score":8.18,"licensors":["Crunchyroll"],"r18":false,"kids":false},{"mal_id":356,"url":"https:\/\/myanimelist.net\/anime\/356\/Fate_stay_night","title":"Fate\/stay
        night","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/4\/30327.jpg?s=c9c0269c7d13224b4ee9a26f50998963","synopsis":"After
        a mysterious inferno kills his family, Shirou is saved and adopted by Kiritsugu
        Emiya, who teaches him the ways of magic and justice.\r\n\r\nOne night, years
        after Kiritsugu''s death, Shirou is cleaning at school, when he finds him[...]
