interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/watch/episodes/popular
  response:
    body:
      string: '{"pagination":{"last_visible_page":1,"has_next_page":false},"data":[{"entry":{"mal_id":1,"url":"https:\/\/myanimelist.net\/anime\/1\/Cowboy_Bebop","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/4\/19644.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/4\/19644t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/4\/19644l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/4\/19644.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/4\/19644t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/4\/19644l.webp"}},"title":"Cowboy
        Bebop"},"episodes":[{"mal_id":26,"url":"https:\/\/myanimelist.net\/anime\/1\/Cowboy_Bebop\/episode\/26","title":"Episode
        26","premium":true},{"mal_id":25,"url":"https:\/\/myanimelist.net\/anime\/1\/Cowboy_Bebop\/episode\/25","title":"Episode
        25","premium":true}],"region_locked":false},{"entry":{"mal_id":20,"url":"https:\/\/myanimelist.net\/anime\/20\/Naruto","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405t.webp"[...]
