interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/users/userbyid/1
  response:
    body:
      string: '{"pagination":{"last_visible_page":1,"has_next_page":false},"data":{"url":"https:\/\/myanimelist.net\/profile\/Xinil","username":"Xinil"}}'
    headers:
      Content-Type: application/json
      Last-Modified: Sat, 03 Dec 2022 15:42:30 GMT
      X-Request-Fingerprint: request:users:f4e1e84096f9e98dbdff8108af068a72407da1aa
    status:
      code: 200
      message: OK
    url: https://api.jikan.moe/v4/users/userbyid/1
version: 1
