interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/user/nekomata1037
  response:
    body:
      string: '{"request_hash":"request:user:491bfd17af33e9772825623e2590565732c69709","request_cached":true,"request_cache_expiry":2731,"user_id":4901676,"username":"Nekomata1037","url":"https:\/\/myanimelist.net\/profile\/Nekomata1037","image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/4901676.jpg?t=1613304000","last_online":"2021-02-14T03:58:00+00:00","gender":"Male","birthday":"1998-11-23T00:00:00+00:00","location":"Pakistan","joined":"2015-09-27T00:00:00+00:00","anime_stats":{"days_watched":103.3,"mean_score":8.18,"watching":41,"completed":434,"on_hold":15,"dropped":3,"plan_to_watch":388,"total_entries":881,"rewatched":18,"episodes_watched":6109},"manga_stats":{"days_read":87.7,"mean_score":8.43,"reading":364,"completed":142,"on_hold":3,"dropped":1,"plan_to_read":57,"total_entries":567,"reread":1,"chapters_read":15780,"volumes_read":766},"favorites":{"anime":[{"mal_id":9253,"url":"https:\/\/myanimelist.net\/anime\/9253\/Steins_Gate","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/73199.jpg?s=8de9a601ba6c3110fbde67fa26d0656c","name":"Steins;Gate"},{"mal_id":30484,"url":"https:\/\/myanimelist.net\/anime\/30484\/Steins_Gate_0","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1375\/93521.jpg?s=8034dfe554275f6bd9e24464d01f0792","name":"Steins;Gate
        0"},{"mal_id":37450,"url":"https:\/\/myanimelist.net\/anime\/37450\/Seishun_Buta_Yarou_wa_Bunny_Girl_Senpai_no_Yume_wo_Minai","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1301\/93586.jpg?s=15d6fa5dca503416858d1d6f989ada4b","name":"Seishun
        Buta Yarou wa Bunny Girl Senpai no Yume wo Minai"},{"mal_id":28211,"url":"https:\/\/myanimelist.net\/anime\/28211\/Harmony","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/2\/76993.jpg?s=75b2c4530d6990ac4aafcc574dfbb779","name":"Harmony"},{"mal_id":31240,"url":"https:\/\/myanimelist.net\/anime\/31240\/Re_Zero_kara_Hajimeru_Isekai_Seikatsu","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/11\/79410.jpg?s=a90b05054565c07aff87e4b5fa86d14d","name":"Re:Zero
        kara Hajimeru Isekai Seikatsu"}],"manga":[],"characters":[{"mal_id":34470,"url":"https:\/\/myanimelist.net\/character\/34470\/Kurisu_Makise","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/10\/114399.jpg?s=8bdbe2cd8303e475f27cbf5b4b99d394","name":"Makise,
        Kurisu"},{"mal_id":35252,"url":"https:\/\/myanimelist.net\/character\/35252\/Rintarou_Okabe","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/6\/122643.jpg?s=ed465bedfd3d6ccaa01278c9031f919f","name":"Okabe,
        Rintarou"},{"mal_id":55131,"url":"https:\/\/myanimelist.net\/character\/55131\/Houtarou_Oreki","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/15\/308148.jpg?s=3f7020a6818f130080fc282cfe8e6992","name":"Oreki,
        Houtarou"}],"people":[{"mal_id":39950,"url":"https:\/\/myanimelist.net\/people\/39950\/Sayuri","image_url":"https:\/\/cdn.myanimelist.net\/images\/voiceactors\/1\/57707.jpg?s=7a1afd22686ff503b1a81be6edd3921a","name":"Sayuri"},{"mal_id":137,"url":"https:\/\/myanimelist.net\/people\/137\/Show_Hayami","image_url":"https:\/\/cdn.myanimelist.net\/images\/voiceactors\/2\/54479.jpg?s=dfced7ea21a0cfbd9c88d9adefac717c","name":"Hayami,
        Show"},{"mal_id":113,"url":"https:\/\/myanimelist.net\/people\/113\/Rikiya_Koyama",[...]
