interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/users?q=Xinil&limit=10
  response:
    body:
      string: '{"pagination":{"last_visible_page":1,"has_next_page":false},"data":[{"username":"XinilSupport","url":"https:\/\/myanimelist.net\/profile\/XinilSupport","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/questionmark_50.gif"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/questionmark_50.gif"}},"last_online":"2020-09-21T23:03:00+00:00"},{"username":"Faxinildo","url":"https:\/\/myanimelist.net\/profile\/Faxinildo","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/10965316.jpg?t=1643340000"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/10965316.webp?t=1643340000"}},"last_online":"2022-01-27T19:12:00+00:00"},{"username":"FuckXinilAndMal","url":"https:\/\/myanimelist.net\/profile\/FuckXinilAndMal","images":{"jpg":{"image_url":"https:\/\/cdn.myani[...]
