interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/search/anime?q=naruto?type=tv&
  response:
    body: {string: '{"request_hash":"request:search:db7df3c12d5c5493db4736118de3fe95cbc4e088","request_cached":false,"request_cache_expiry":43200,"results":[{"mal_id":20,"url":"https:\/\/myanimelist.net\/anime\/20\/Naruto","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405.jpg?s=59241469eb470604a792add6fbe7cce6","title":"Naruto","airing":false,"synopsis":"Moments
        prior to Naruto Uzumaki''s birth, a huge demon known as the Kyuubi, the Nine-Tailed
        Fox, attacked Konohagakure, the Hidden Leaf Village, and wreaked havoc. In
        order to put an end to the Kyuubi''...","type":"TV","episodes":220,"score":7.9,"start_date":"2002-10-03T00:00:00+00:00","end_date":"2007-02-08T00:00:00+00:00","members":1085870,"rated":"PG-13"},{"mal_id":10075,"url":"https:\/\/myanimelist.net\/anime\/10075\/Naruto_x_UT","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/3\/30485.jpg?s=0e585f452876ec490cd1f922d26fad36","title":"Naruto
        x UT","airing":false,"synopsis":"All-new animation offered throughout UNIQLO
        clothing stores in Japan on January 1, 2011. The DVD contains an exclusive
        version of Mayonaka Orchestra, by the Japanese rock band Aqua Timez. A limited
        nu...","type":"OVA","episod[...]
