interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/search/anime?q=naruto&genre=1,2&limit=10
  response:
    body:
      string: '{"request_hash":"request:search:d13705e9cdf827eaa975b96638a7eb4c1e23a261","request_cached":true,"request_cache_expiry":0,"last_page":3,"results":[{"mal_id":34566,"url":"https:\/\/myanimelist.net\/anime\/34566\/Boruto__Naruto_Next_Generations","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/9\/84460.jpg","title":"Boruto:
        Naruto Next Generations","type":"TV","episodes":null,"airing":true,"score":6.16,"members":381494,"synopsis":"Following
        the successful end of the Fourth Shinobi World War, Konohagakure has been
        enjoying a period of peace, prosperity, and extraordinary technological advancement.
        This is all due to the efforts of the Allied Shinobi Forces and the village''s
        Seventh Hokage, Naruto Uzumaki. Now resembling a modern metropolis, Konohagakure
        has changed, particularly the life of a shinobi. Under the watchful eye of
        Naruto and his old comrades, a new generation of shinobi has stepped up to
        learn the ways of the ninja. Boruto Uzumaki is often the center of attention
        as the son of the Seventh Hokage. Despite having inherited Naruto''s boisterous
        and stubborn demeanor, Boruto is considered a prodigy and is able to unleash
        his potential with the help of supportive friends and family. Unfortunately,
        this has only worsened his arrogance and his desire to surpass Naruto which,
        along with his father''s busy lifestyle, has strained their relationship.
        However, a sinister force brewing within the village may threaten Boruto''s
        carefree life. New friends and familiar faces join Boruto as a new story begins
        in Boruto: Naruto Next Generations. [Written by MAL Rewrite]","start_date":"2017-04-05T00:00:00+00:00","rated":"PG-13
        - Teens 13 or older"},{"mal_id":28755,"url":"https:\/\/myanimelist.net\/anime\/28755\/Boruto__Naruto_the_Movie","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/4\/78280.jpg","title":"Boruto:
        Naruto the Movie","type":"Movie","episodes":1,"airing":false,"score":7.63,"members":253151,"synopsis":"The
        spirited Boruto Uzumaki, son of Seventh Hokage Naruto, is a skilled ninja
        who possesses the same brashness and passion his father once had. However,
   [...]
