interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/magazine/83
  response:
    body: {string: '{"request_hash":"request:magazine:a7ef4081af7a95450e760b9dc5a49055a490fbdf","request_cached":true,"request_cache_expiry":42078,"meta":{"mal_id":83,"type":"manga","name":"Shounen
        Jump (Weekly)","url":"https:\/\/myanimelist.net\/manga\/magazine\/83\/Shounen_Jump_Weekly"},"manga":[{"mal_id":11,"url":"https:\/\/myanimelist.net\/manga\/11\/Naruto","title":"Naruto","image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/117681.jpg?s=c0ee4733879676bb2ab708f8c983dec8","synopsis":"Whenever
        Naruto Uzumaki proclaims that he will someday become the Hokage\u2014a title
        bestowed upon the best ninja in the Village Hidden in the Leaves\u2014no one
        takes him seriously. Since birth, Naruto has been shunned and ridiculed by
        his fellow villagers. But their contempt isn''t because Naruto is loud-mouthed,
        mischievous, or because of his ineptitude in the ninja arts, but because there
        is a demon inside him. Prior to Naruto''s birth, the powerful and deadly Nine-Tailed
        Fox attacked the village. In order to stop the rampage, the Fourth Hokage
        sacrificed his life to seal the demon inside the body of the newborn Naruto.\r\n\r\nAnd
        so when he is assigned to Team 7\u2014along with his new teammates Sasuke
        Uchiha and Sakura Haruno, under the mentorship of veteran ninja Kakashi Hatake\u2014Naruto
        is forced to work together with other people for the first time in his life.
        Through undergoing vigorous training and taking on challenging missions, Naruto
        must learn what it means to work in a team and carve his own route toward
        becoming a full-fledged ninja recognized by his village.\r\n\r\n[Written by
        MAL Rewrite]","type":"Manga","publishing_start":"1999-09-20T00:00:00+00:00","volumes":72,"members":270944,"genres":[{"mal_id":1,"type":"manga","name":"Action","url":"https:\/\/myanimelist.net\/manga\/genre\/1\/Action"},{"mal_id":2,"type":"manga","name":"Adventure","url":"https:\/\/myanimelist.net\/manga\/genre\/2\/Adventure"},{"mal_id":31,"type":"manga","name":"Super
        Power","url":"https:\/\/myanimelist.net\/manga\/genre\/31\/Super_Power"},{"mal_id":17,"type":"manga","name":"Martial
        Arts","url":"https:\/\/myanimelist.net\/manga\/genre\/17\/Martial_Arts"},{"mal_id":27,"type":"manga","name":"Shounen","url":"https:\/\/myanimelist.net\/manga\/genre\/27\/Shounen"}],"authors":[{"mal_id":1879,"type":"people","name":"Kishimoto,
        Masashi","url":"https:\/\/myanimelist.net\/people\/1879\/Masashi_Kishimoto"}],"score":8.1,"serialization":["Shounen
        Jump (Weekly)"]},{"mal_id":13,"url":"https:\/\/myanimelist.net\/manga\/13\/One_Piece","title":"One
        Piece","image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/55539.jpg?s=0792a72a1d68fa639505ba16439ee1cd","synopsis":"Gol
        D. Roger, a man referred to as the \"Pirate King,\" is set to be executed
        by the World Government. But just before his demise, he confirms the existence
        of a great treasure, One Piece, located somewhere within the vast o[...]
