interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/manga?q=jujutsu+kaisen&limit=10
  response:
    body:
      string: '{"pagination":{"last_visible_page":1,"has_next_page":false,"current_page":1,"items":{"count":8,"total":8,"per_page":10}},"data":[{"mal_id":113138,"url":"https:\/\/myanimelist.net\/manga\/113138\/Jujutsu_Kaisen","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/210341.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/210341t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/210341l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/210341.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/210341t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/210341l.webp"}},"approved":true,"titles":[{"type":"Default","title":"Jujutsu
        Kaisen"},{"type":"Synonym","title":"Sorcery Fight"},{"type":"Synonym","title":"Sorcery
        Fight"},{"type":"Japanese","title":"\u546a\u8853\u5efb\u6226"},{"type":"English","title":"Jujutsu
        Kaisen"}],"title":"Jujutsu Kaisen","title_english":"Jujutsu Kaisen","title_japanese":"\u546a\u8853\u5efb\u6226","title_synonyms":["Sorcery
        Fight"],"type":"Manga","chapters":null,"volumes":null,"status":"Publishing","publishing":true,"published":{"from":"2018-03-05T00:00:00+00:00","to":null,"prop":{"from":{"day":5,"month":3,"year":2018},"to":{"day":null,"month":null,"year":null}},"string":"Mar
        5, 2018 to ?"},"score":8.54,"scored":8.54,"scored_by":137846,"rank":111,"popularity":14,"members":315542,"favorites":24212,"synopsis":"Hidden
        in plain sight, an age-old conflict rages on. Supernatural monsters known
        as \"Curses\" terrorize humanity from the shadows, and powerful humans known
        as \"Jujutsu\" sorcerers use mystical arts to exterminate them. When high
        school student Yuuji Itadori finds a dried-up finger of the legendary Curse
        Sukuna Ryoumen, he suddenly finds himself joining this bloody conflict. Attacked
        by a Curse attracted to the finger''s power, Yuuji makes a rec[...]
