interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/manga?q=mushoku+tensei&limit=10&type=lightnovel
  response:
    body:
      string: '{"pagination":{"last_visible_page":16,"has_next_page":true,"current_page":1,"items":{"count":10,"total":156,"per_page":10}},"data":[{"mal_id":70261,"url":"https:\/\/myanimelist.net\/manga\/70261\/Mushoku_Tensei__Isekai_Ittara_Honki_Dasu","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/120337.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/120337t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/120337l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/120337.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/120337t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/120337l.webp"}},"approved":true,"titles":[{"type":"Default","title":"Mushoku
        Tensei: Isekai Ittara Honki Dasu"},{"type":"Japanese","title":"\u7121\u8077\u8ee2\u751f
        \uff5e\u7570\u4e16\u754c\u884c\u3063\u305f\u3089\u672c\u6c17\u3060\u3059\uff5e"},{"type":"English","title":"Mushoku
        Tensei: Jobless Reincarnation"}],"title":"Mushoku Tensei: Isekai Ittara Honki
        Dasu","title_english":"Mushoku Tensei: Jobless Reincarnation","title_japanese":"\u7121\u8077\u8ee2\u751f
        \uff5e\u7570\u4e16\u754c\u884c\u3063\u305f\u3089\u672c\u6c17\u3060\u3059\uff5e","title_synonyms":[],"type":"Light
        Novel","chapters":330,"volumes":26,"status":"Finished","publishing":false,"published":{"from":"2014-01-23T00:00:00+00:00","to":"2022-11-25T00:00:00+00:00","prop":{"from":{"day":23,"month":1,"year":2014},"to":{"day":25,"month":11,"year":2022}},"string":"Jan
        23, 2014 to Nov 25, 2022"},"score":8.77,"scored":8.77,"scored_by":27496,"rank":38,"popularity":193,"members":67764,"favorites":5800,"synopsis":"Killed
        while saving a stranger from a traffic collision, a 34-year-old NEET is reincarnated
        into a world of magic as Rudeus Greyrat, a newborn baby. With knowledge, experience,
        and regrets from his previous life retained, Rudeus vows to lead a fulfilling
        life and not repeat his past mistakes. Now gifted with a tremendous amount
        of magical power as well as the mind of a grown adult, Rudeus is seen as a
        genius in the making by his new parents. Soon, he finds himself studying under
        powerful warriors, such as his swordsman father and a mage named Roxy Migurdia\u2014all
        in order to hone his apparent talents. But despite his innocent exterior,
        Rudeus is still a perverted otaku, who uses his wealth of knowledge to make
        moves on women whom he could never make in his previous life. [Written by
        MAL Rewrite]","background":"Mushoku Tensei: Isekai Ittara Honki Dasu is a
        web novel that was serialized on Shousetsuka ni Narou website from November
        22, 2012 to April 3, 2015. It made repeated appearances on site''s rankings
        as the most popular work during its serialization. Media Factory published
        the first volume on January 23, 2014. The series has been published in English
        as Mushoku Tensei: Jobless Reincarnation by Seven Seas Entertainment under
        the Airship imprint since May 21, 2019.","authors":[{"mal_id":30675,"type":"people","name":"Rifujin
        na Magonote","url":"https:\/\/myanimelist.net\/people\/30675\/Rifujin_na_Magonote"},{"mal_id":30677,"type":"people","name":"Sirotaka","url":"https:\/\/myanimelist.net\/people\/30677\/Sirotaka"}],"serializations":[],"genres":[{"mal_id":10,"type":"manga","name":"Fantasy","url":"https:\/\/myanimelist.net\/manga\/genre\/10\/Fantasy"}],"explicit_genres":[],"themes":[{"mal_id":62,"type":"manga","name":"Isekai","url":"https:\/\/myanimelist.net\/manga\/genre\/62\/Isekai"},{"mal_id":73,"type":"manga","name":"Reincarnation","url":"https:\/\/myanimelist.net\/manga\/genre\/73\/Reincarnation"}],"demographics":[]},{"mal_id":128132,"url":"https:\/\/myanimelist.net\/manga\/128132\/Nishuume_Cheat_no_Tensei_Madoushi__Saikyou_ga_1000-nengo_ni_Tensei_shitara_Jinsei_Yoyuu_sugimashita","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/239376.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/239376t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/239376l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/manga\/3\/23937[...]
