interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/anime?q=naruto&genre=1,2&genre_exclude=True&limit=2
  response:
    body:
      string: '{"pagination":{"last_visible_page":15,"has_next_page":true,"current_page":1,"items":{"count":2,"total":29,"per_page":2}},"data":[{"mal_id":53240,"url":"https:\/\/myanimelist.net\/anime\/53240\/Naruto__Road_of_Naruto","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1207\/128768.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1207\/128768t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1207\/128768l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1207\/128768.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1207\/128768t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1207\/128768l.webp"}},"trailer":{"youtube_id":null,"url":null,"embed_url":null,"images":{"image_url":null,"small_image_url":null,"medium_image_url":null,"large_image_url":null,"maximum_image_url":null}},"approved":false,"titles":[{"type":"Default","title":"Naruto:
        Road of Naruto"},{"type":"Japanese","title":"\u300eNARUTO-\u30ca\u30eb\u30c8-\u300f20\u5468\u5e74\u8a18\u5ff5"},{"type":"English","title":"Naruto:
        20th Anniversary"}],"title":"Naruto: Road of Naruto","title_english":"Naruto:
        20th Anniversary","title_japanese":"\u300eNARUTO-\u30ca\u30eb\u30c8-\u300f20\u5468\u5e74\u8a18\u5ff5","title_synonyms":[],"type":"Special","source":"Manga","episodes":1,"status":"Finished
        Airing","airing":false,"aired":{"from":"2022-10-03T00:00:00+00:00","to":null,"prop":{"from":{"day":3,"month":10,"year":2022},"to":{"day":null,"month":null,"year":null}},"string":"Oct
        3, 2022 to ?"},"duration":"9 min","rating":"PG-13 - Teens 13 or older","score":null,"scored_by":null,"rank":0,"popularity":0,"members":0,"favorites":0,"synopsis":null,"background":null,"season":null,"year":null,"broadcast":{"day":null,"time":null,"timezone":null,"string":null},"producers":[],"licensors":[],"studios":[],"genres":[{"mal_id":1,"type":"anime","name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"}],"explicit_genres":[],"themes":[{"mal_id":17,"type":"anime","name":"Martial
        Arts","url":"https:\/\/myanimelist.net\/anime\/genre\/17\/Martial_Arts"}],"demographics":[{"mal_id":27,"type":"anime","name":"Shounen","url":"https:\/\/myanimelist.net\/anime\/genre\/27\/Shounen"}]},{"mal_id":20,"url":"https:\/\/myanimelist.net\/anime\/20\/Naruto","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\/17405l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/13\[...]
