interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/users/nekomata1037/full
  response:
    body:
      string: '{"data":{"mal_id":4901676,"username":"Nekomata1037","url":"https:\/\/myanimelist.net\/profile\/Nekomata1037","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/4901676.jpg?t=1670547000"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/4901676.webp?t=1670547000"}},"last_online":"2022-12-09T00:45:00+00:00","gender":"Male","birthday":"1998-11-23T00:00:00+00:00","location":"Pakistan","joined":"2015-09-27T00:00:00+00:00","statistics":{"anime":{"days_watched":107,"mean_score":8.22,"watching":44,"completed":451,"on_hold":15,"dropped":3,"plan_to_watch":428,"total_entries":941,"rewatched":22,"episodes_watched":6316},"manga":{"days_read":93,"mean_score":8.45,"reading":390,"completed":145,"on_hold":3,"dropped":1,"plan_to_read":58,"total_entries":597,"reread":1,"chapters_read":16628,"volumes_read":778}},"favorites":{"anime":[{"mal_id":9253,"url":"https:\/\/myanimelist.net\/anime\/9253\/Steins_Gate","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1935\/127974.jpg?s=1da91829b7d0348647278692130c9128","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1935\/127974t.jpg?s=1da91829b7d0348647278692130c9128","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1935\/127974l.jpg?s=1da91829b7d0348647278692130c9128"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1935\/127974.webp?s=1da91829b7d0348647278692130c9128","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1935\/127974t.webp?s=1da91829b7d0348647278692130c9128","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1935\/127974l.webp?s=1da91829b7d0348647278692130c9128"}},"title":"Steins;Gate","type":"TV","start_year":2011},{"mal_id":30484,"url":"https:\/\/myanimelist.net\/anime\/30484\/Steins_Gate_0","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1375\/93521.jpg?s=f5a4cb37ad2a9326d92a44ea56a747c7","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1375\/93521t.jpg?s=f5a4cb37ad2a9326d92a44ea56a747c7","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1375\/93521l.jpg?s=f5a4cb37ad2a9326d92a44ea56a747c7"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net[...]
