interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/schedule/monday
  response:
    body:
      string: '{"request_hash":"request:schedule:8afa3ba4218f1b668cd1e15205fc3f8e7a861bc3","request_cached":true,"request_cache_expiry":0,"monday":[{"mal_id":38843,"url":"https:\/\/myanimelist.net\/anime\/38843\/Shironeko_Project__Zero_Chronicle","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1494\/105719.jpg","title":"Shironeko
        Project: Zero Chronicle","type":"TV","source":"Game","episodes":null,"rating":"None","score":6.09,"members":32330,"synopsis":"In
        a world consisting of numerous isles, a young hero from the Astora Isle encounters
        the adventurer Kyle and follows him on an expedition on the isle. They meet
        a mysterious girl named Iris and a talking white cat, and together they make
        their way to the isle''s ruins, where they find a flying island. Kyle becomes
        consumed by darkness there, and the party resolves to travel to the ends of
        the world on the flying island in order to find the seven \"Great Runes,\"
        following Kyle''s words before he disappeared. (Source: Wikipedia)","producers":[],"licensors":["Funimation"],"genres":[{"mal_id":1,"type":"anime","name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},{"mal_id":2,"type":"anime","name":"Adventure","url":"https:\/\/myanimelist.net\/anime\/genre\/2\/Adventure"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"},{"mal_id":16,"type":"anime","name":"Magic","url":"https:\/\/myanimelist.net\/anime\/genre\/16\/Magic"}],"kids":false,"r18":false},{"mal_id":40682,"url":"https:\/\/myanimelist.net\/anime\/40682\/Kingdom_3rd_Season","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1332\/106392.jpg","title":"Kingdom
        3rd Season","type":"TV","source":"Manga","episodes":null,"rating":"R - 17+
        (violence & profanity)","score":8.61,"members":19069,"synopsis":"Third season
        of Kingdom.","producers":[{"mal_id":111,"type":"anime","name":"NHK","url":"https:\/\/myanimelist.net\/anime\/producer\/111\/NHK"}],"licens[...]
