interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/anime/457/episodes/1
  response:
    body:
      string: '{"data":{"mal_id":1,"url":"https:\/\/myanimelist.net\/anime\/457\/Mushishi\/episode\/1","title":"The
        Green Seat","title_japanese":"\u7dd1\u306e\u5ea7","title_romanji":"Midori
        no Za","duration":1440,"aired":"2005-10-23T00:00:00+09:00","filler":false,"recap":false,"synopsis":"Ginko
        investigates the case of a boy whose drawings, if drawn by his left hand,
        come to life. (Source: Wikipedia)"}}'
    headers:
      Content-Type: application/json
      Last-Modified: Fri, 09 Dec 2022 22:37:25 GMT
      X-Request-Fingerprint: request:anime:315a713cceb9b7e1b19ddc421d374970d6b8b371
    status:
      code: 200
      message: OK
    url: https://api.jikan.moe/v4/anime/457/episodes/1
version: 1
