interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/schedules?filter=monday
  response:
    body:
      string: '{"pagination":{"last_visible_page":1,"has_next_page":false,"current_page":1,"items":{"count":10,"total":10,"per_page":25}},"data":[{"mal_id":52815,"url":"https:\/\/myanimelist.net\/anime\/52815\/Ganbare_Choushuu-kun","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1592\/127118.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1592\/127118t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1592\/127118l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1592\/127118.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1592\/127118t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1592\/127118l.webp"}},"trailer":{"youtube_id":null,"url":null,"embed_url":null,"images":{"image_url":null,"small_image_url":null,"medium_image_url":null,"large_image_url":null,"maximum_image_url":null}},"approved":true,"titles":[{"type":"Default","title":"Ganbare!
        Choushuu-kun"},{"type":"Japanese","title":"\u304c\u3093\u3070\u308c! \u9577\u5dde\u304f\u3093"}],"title":"Ganbare!
        Choushuu-kun","title_english":null,"title_japanese":"\u304c\u3093\u3070\u308c!
        \u9577\u5dde\u304f\u3093","title_synonyms":[],"type":"TV","source":"Original","episodes":null,"status":"Currently
        Airing","airing":true,"aired":{"from":"2022-08-01T00:00:00+00:00","to":null,"prop":{"from":{"day":1,"month":8,"year":2022},"to":{"day":null,"month":null,"year":null}},"string":"Aug
        1, 2022 to ?"},"duration":"1 min","rating":"G - All Ages","score":null,"scored_by":null,"rank":20009,"popularity":17779,"members":207,"favorites":4,"synopsis":"Choushuu-kun,
        a rambunctious grade schooler, experiences a slightly strange everyday life
        with his classmates.\n\n(Source: ANN)","background":null,"season":"summer","year":2022,"broadcast":{"day":"Mondays","time":"10:15","timezone":"Asia\/Tokyo","string":"Mondays
        at 10:15 (JST)"},"producers":[],"licensors":[],"studios":[{"mal_id":1005,"type":"anime","name":"Oddjob","url":"https:\/\/myanimelist.net\/anime\/producer\/1005\/Oddjob"}],"genres":[{"mal_id":4,"type":"anime","name":"Comedy","url":"https:\/\/myanimelist.net\/anime\/genre\/4\/Comedy"}],"explicit_genres":[],"themes":[],"demographics":[]},{"mal_id":38451,"url":"https:\/\/myanimelist.net\/anime\/38451\/Reizouko_no_Tsukenosuke","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1884\/95217.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1884\/95217t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1884\/95217l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1884\/95217.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anim[...]
