interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/magazines?q=young
  response:
    body:
      string: '{"pagination":{"last_visible_page":2,"has_next_page":true,"current_page":1,"items":{"count":25,"total":49,"per_page":25}},"data":[{"mal_id":1037,"name":"Action
        Young","url":"https:\/\/myanimelist.net\/manga\/magazine\/1037\/Action_Young","count":4},{"mal_id":561,"name":"Bessatsu
        Young Champion","url":"https:\/\/myanimelist.net\/manga\/magazine\/561\/Bessatsu_Young_Champion","count":16},{"mal_id":240,"name":"Bessatsu
        Young Magazine","url":"https:\/\/myanimelist.net\/manga\/magazine\/240\/Bessatsu_Young_Magazine","count":19},{"mal_id":1507,"name":"Dokodemo
        Young Champion","url":"https:\/\/myanimelist.net\/manga\/magazine\/1507\/Dokodemo_Young_[...]
