interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/genres/anime
  response:
    body:
      string: '{"data":[{"mal_id":1,"name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action","count":4466},{"mal_id":2,"name":"Adventure","url":"https:\/\/myanimelist.net\/anime\/genre\/2\/Adventure","count":3698},{"mal_id":5,"name":"Avant
        Garde","url":"https:\/\/myanimelist.net\/anime\/genre\/5\/Avant_Garde","count":677},{"mal_id":46,"name":"Award
        Winning","url":"https:\/\/myanimelist.net\/anime\/genre\/46\/Award_Winning","count":176},{"mal_id":28,"name":"Boys
        Love","url":"https:\/\/myanimelist.net\/anime\/genre\/28\/Boys_Love","count":161},{"mal_id":4,"name":"Comedy","[...]
