interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/season/later
  response:
    body: {string: '{"request_hash":"request:season:7b4caf8304de4cc9fd3443714d6f79ad16274e49","request_cached":true,"request_cache_expiry":42076,"season_name":"Later","season_year":null,"anime":[{"mal_id":38408,"url":"https:\/\/myanimelist.net\/anime\/38408\/Boku_no_Hero_Academia_4th_Season","title":"Boku
        no Hero Academia 4th Season","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1251\/97634.jpg?s=094bb489af4b4f435a494bac4f12ef4f","synopsis":"Fourth
        season of Boku no Hero Academia.","type":"TV","airing_start":null,"episodes":null,"members":109266,"genres":[{"mal_id":1,"type":"anime","name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},{"mal_id":4,"type":"anime","name":"Comedy","url":"https:\/\/myanimelist.net\/anime\/genre\/4\/Comedy"},{"mal_id":23,"type":"anime","name":"School","url":"https:\/\/myanimelist.net\/anime\/genre\/23\/School"},{"mal_id":27,"type":"anime","name":"Shounen","url":"https:\/\/myanimelist.net\/anime\/genre\/27\/Shounen"},{"mal_id":31,"type":"anime","name":"Super
        Power","url":"https:\/\/myanimelist.net\/anime\/genre\/31\/Super_Power"}],"source":"Manga","producers":[{"mal_id":4,"type":"anime","name":"Bones","url":"https:\/\/myanimelist.net\/anime\/producer\/4\/Bones"}],"score":null,"licensors":[],"r18":false,"kids":false,"continuing":false},{"mal_id":37347,"url":"https:\/\/myanimelist.net\/anime\/37347\/Dungeon_ni_Deai_wo_Motomeru_no_wa_Machigatteiru_Darou_ka_2nd_Season","title":"Dungeon
        ni Deai wo Motomeru no wa Machigatteiru Darou ka 2nd Season","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1188\/90658.jpg?s=c756a5bca8fbc144e311fad5716b93b2","synopsis":"Second
        season of Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka.","type":"TV","airing_start":null,"episodes":null,"members":75063,"ge[...]
