interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/genre/anime/1
  response:
    body: {string: '{"request_hash":"request:genre:6c9c9402d8847e6bea6e71da3c43e4dc8fce8606","request_cached":true,"request_cache_expiry":43103,"mal_url":{"mal_id":1,"type":"anime","name":"Action
        Anime","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},"item_count":3420,"anime":[{"mal_id":16498,"url":"https:\/\/myanimelist.net\/anime\/16498\/Shingeki_no_Kyojin","title":"Shingeki
        no Kyojin","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/10\/47347.jpg?s=ba04068a66138ae427d5a6692b6e2a87","synopsis":"Centuries
        ago, mankind was slaughtered to near extinction by monstrous humanoid creatures
        called titans, forcing humans to hide in fear behind enormous concentric walls.
        What makes these giants truly terrifying is that their taste for human flesh
        is not born out of hunger but what appears to be out of pleasure. To ensure
        their survival, the remnants of humanity began living within defensive barriers,
        resulting in one hundred years without a single titan encounter. However,
        that fragile calm is soon shattered when a colossal titan manages to breach
        the supposedly impregnable outer wall, reigniting the fight for survival against
        the man-eating abominations.\r\n\r\nAfter witnessing a horrific personal loss
        at the hands of the invading creatures, Eren Yeager dedicates his life to
        their eradication by enlisting into the Survey Corps, an elite military unit
        that combats the merciless humanoids outside the protection of the walls.
        Based on Hajime Isayama''s award-winning manga, Shingeki no Kyojin follows
        Eren, along with his adopted sister Mikasa Ackerman and his childhood friend
        Armin Arlert, as they join the brutal war against the titans and race to discover
        a way of defeating them before the last walls are breached.\r\n\r\n[Written
        by MAL Rewrite]","type":"TV","airing_start":"2013-04-06T16:58:00+00:00","episodes":25,"members":1492343,"genres":[{"mal_id":1,"type":"anime","name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},{"mal_id":38,"type":"anime","name":"Military","url":"https:\/\/myanimelist.net\/anime\/genre\/38\/Military"},{"mal_id":7,"type":"anime","name":"Mystery","url":"https:\/\/myanimelist.net\/anime\/genre\/7\/Mystery"},{"mal_id":31,"type":"anime","name":"Super
        Power","url":"https:\/\/myanimelist.net\/anime\/genre\/31\/Super_Power"},{"mal_id":8,"type":"anime","name":"Drama","url":"https:\/\/myanimelist.net\/anime\/genre\/8\/Drama"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"},{"mal_id":27,"type":"anime","name":"Shounen","url":"https:\/\/myanimelist.net\/anime\/genre\/27\/Shounen"}],"source":"Manga","producers":[{"mal_id":858,"type":"anime","name":"Wit
        Studio","url":"https:\/\/myanimelist.net\/anime\/producer\/858\/Wit_Studio"}],"score":8.48,"licensors":["Funimation"],"r18":false,"kids":false},{"mal_id":11757,"url":"https:\/\/myanimelist.net\/anime\/11757\/Sword_Art_Online","title":"Sword
        Art Online","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/11\/39717.jpg?s=c5fe65613d905f9cc0ca1ad4a94a8e33","synopsis":"In
        the year 2022, virtual reality has progressed by leaps and bounds, and a massive
        online role-playing game called Sword Art Online (SAO) is launched. With the
        aid of \"NerveGear\" technology, players can control their avatars wit[...]
