interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/search/anime?q=naruto&genre=1,2&genre_exclude=True&limit=2
  response:
    body:
      string: '{"request_hash":"request:search:5c58cb9e7ce03abae06951e735f9fe6dbf66de4f","request_cached":false,"request_cache_expiry":432000,"results":[{"mal_id":4134,"url":"https:\/\/myanimelist.net\/anime\/4134\/Naruto__Shippuuden_-_Shippuu_Konoha_Gakuen_Den","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/51895.jpg?s=50657ee2b01cf3e31680314e7fe65981","title":"Naruto:
        Shippuuden - Shippuu! \"Konoha Gakuen\" Den","airing":false,"synopsis":"Naruto
        school special. Naruto is a new cool student and when he meets Sasuke they
        start fighting.","type":"Special","episodes":1,"score":7.17,"start_date":"2008-02-06T00:00:00+00:00","end_date":"2008-02-06T00:00:00+00:00","members":47155,"rated":"PG-13"},{"mal_id":838,"url":"https:\/\/myanimelist.net\/anime\/838\/Narutaru__Mukuro_Naru_Hoshi_Tama_Taru_Ko","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/10\/12023.jpg?s=8dfc94b92c45916f8de54db0ca5054de","title":"Narutaru:
        Mukuro Naru Hoshi Tama Taru Ko","airing":false,"synopsis":"During her summer
        holiday at her grandparents house Tamai Shiina, a young and cheerful schoolgirl,
        meets a strange looking creature. They befriend each other and Shiina names
        it \"Hoshimaru: The Round...","type":"TV","episodes":13,"score":6.1,"start_date":"2003-07-07T00:00:00+00:00","end_date":"2003-09-29T00:00:00+00:00","members":26978,"rated":"R"}],"last_page":3}'
    headers:
      Content-Type: application/json
      ETag: '"45adb99ff0733980863e5c6bae4ed9b3"'
      X-Request-Cache-Ttl: '432000'
      X-Request-Cached: ''
      X-Request-Hash: request:search:5c58cb9e7ce03abae06951e735f9fe6dbf66de4f
    status:
      code: 200
      message: OK
    url: https://api.jikan.moe/v3/search/anime?q=naruto&genre=1,2&genre_exclude=True&limit=2
version: 1
