interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/recommendations/anime
  response:
    body:
      string: '{"pagination":{"last_visible_page":20,"has_next_page":true},"data":[{"mal_id":"6702-42192","entry":[{"mal_id":6702,"url":"https:\/\/myanimelist.net\/anime\/6702\/Fairy_Tail","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179l.webp"}},"title":"Fairy
        Tail"},{"mal_id":42192,"url":"https:\/\/myanimelist.net\/anime\/42192\/Edens_Zero","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1011\/111811.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1011\/111811t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1011\/111811l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1011\/111811.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1011\/111811t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1011\/111811l.webp"}},"title":"Edens
        Zero"}],"content":"It''s basically just Fairy Tail going sci-fi, but it''s
        just as enjoyable. It does tackle some more serious issues, but there are
        still some nice comedic moments to balance it out. Plus there''s an interesting
        addition of cybernetic powers that takes the place of magic in this world.
        Really cool to see it in action.","date":"2022-12-07T23:24:25+00:00","user":{"url":"https:\/\/myanimelist.net\/profile\/CrimsonCoyote","username":"CrimsonCoyote"}},{"mal_id":"6702-34572","entry":[{"mal_id":6702,"url":"https:\/\/myanimelist.net\/anime\/6702\/Fairy_Tail","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/18179.webp","small_image_url":"https:\/\/cdn.myanimelis[...]
