interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/user/nekomata1037
  response:
    body: {string: '{"request_hash":"request:user:491bfd17af33e9772825623e2590565732c69709","request_cached":false,"request_cache_expiry":300,"username":"Nekomata1037","url":"https:\/\/myanimelist.net\/profile\/Nekomata1037","image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/4901676.jpg","last_online":"2019-01-19T16:53:31+00:00","gender":"Male","birthday":"1998-11-23T00:00:00+00:00","location":null,"joined":"2015-09-27T00:00:00+00:00","anime_stats":{"days_watched":98,"mean_score":8.18,"watching":43,"completed":405,"on_hold":17,"dropped":3,"plan_to_watch":301,"total_entries":769,"rewatched":12,"episodes_watched":5812},"manga_stats":{"days_read":70.9,"mean_score":8.3,"reading":254,"completed":123,"on_hold":4,"dropped":1,"plan_to_read":54,"total_entries":436,"reread":0,"chapters_read":12778,"volumes_read":719},"favorites":{"anime":[{"mal_id":37450,"url":"https:\/\/myanimelist.net\/anime\/37450\/Seishun_Buta_Yarou_wa_Bunny_Girl_Senpai_no_Yume_wo_Minai","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1301\/93586.jpg?s=15d6fa5dca503416858d1d6f989ada4b","name":"Seishun
        Buta Yarou wa Bunny Girl Senpai no Yume wo Minai"},{"mal_id":9253,"url":"https:\/\/myanimelist.net\/anime\/9253\/Steins_Gate","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/5\/73199.jpg?s=8de9a601ba6c3110fbde67fa26d0656c","name":"Steins;Gate"},{"mal_id":30484,"url":"https:\/\/myanimelist.net\/anime\/30484\/Steins_Gate_0","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1375\/93521.jpg?s=8034dfe554275f6bd9e24464d01f0792","name":"Steins;Gate
        0"}],"manga":[],"characters":[{"mal_id":34470,"url":"https:\/\/myanimelist.net\/character\/34470\/Kurisu_Makise","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/10\/114399.jpg?s=8bdbe2cd8303e475f27cbf5b4b99d394","name":"Makise,
        Kurisu"},{"mal_id":35252,"url":"https:\/\/myanimelist.net\/character\/35252\/Rintarou_Okabe","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/6\/122643.jpg?s=ed465bedfd3d6ccaa01278c9031f919f","name":"Okabe,
        Rintarou"},{"mal_id":55131,"url":"https:\/\/myanimelist.net\/character\/55131\/Houtarou_Oreki","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/6\/175479.jpg?s=1dc3132ee3e0e6a0a6876cd00d398951","name":"Oreki,
        Houtarou"},{"mal_id":43280,"url":"https:\/\/myanimelist.net\/character\/43280\/Inori_Yuzuriha","image_url":"https:\/\/cdn.myanimelist.net\/images\/characters\/10\/139621.jpg?s=3f80a3bcc872c4595a0112467c965eab","name":"Yuzuriha,
        Inori"}],"people":[{"mal_id":39950,"url":"https:\/\/myanimelist.net\/people\/39950\/Sayuri","image_url":"https:\/\/cdn.myanimelist.net\/images\/voiceactors\/3\/43180.jpg?s=d2f3e2293ea2f5471dbfc29b9820002f","name":"Sayuri"},{"mal_id":137,"url":"https:\/\/myanimelist.net\/people\/137\/Show_Hayami","image_url":"https:\/\/cdn.myanimelist.net\/images\/voiceactors\/2\/54479.jpg?s=dfced7ea21a0cfbd9c88d9adefac717c","name":"Hayami,
        Show"},{"mal_id":113,"url":"https:\/\/myanimelist.net\/people\/113\/Rikiya_Koyama",[...]
