interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/schedule/monday
  response:
    body: {string: '{"request_hash":"request:schedule:8afa3ba4218f1b668cd1e15205fc3f8e7a861bc3","request_cached":true,"request_cache_expiry":10350,"monday":[{"mal_id":37510,"url":"https:\/\/myanimelist.net\/anime\/37510\/Mob_Psycho_100_II","title":"Mob
        Psycho 100 II","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1918\/96303.jpg?s=2c35fd30b95cf4df4d59faa1c7779359","synopsis":"Second
        Season of ONE''s Mob Psycho 100.","type":"TV","airing_start":"2019-01-07T14:00:00+00:00","episodes":null,"members":165328,"genres":[{"mal_id":1,"type":"anime","name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},{"mal_id":36,"type":"anime","name":"Slice
        of Life","url":"https:\/\/myanimelist.net\/anime\/genre\/36\/Slice_of_Life"},{"mal_id":4,"type":"anime","name":"Comedy","url":"https:\/\/myanimelist.net\/anime\/genre\/4\/Comedy"},{"mal_id":37,"type":"anime","name":"Supernatural","url":"https:\/\/myanimelist.net\/anime\/genre\/37\/Supernatural"}],"source":"Web
        manga","producers":[{"mal_id":4,"type":"anime","name":"Bones","url":"https:\/\/myanimelist.net\/anime\/producer\/4\/Bones"}],"score":8.75,"licensors":["Crunchyroll"],"r18":false,"kids":false},{"mal_id":37520,"url":"https:\/\/myanimelist.net\/anime\/37520\/Dororo","title":"Dororo","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1933\/97061.jpg?s=a78d6c4373ae407364066e833801c4d0","synopsis":"A
        samurai lord has bartered away his newborn son''s organs to forty-eight demons
        in exchange for dominance on the battlefield. Yet, the abandoned infant survives
        thanks to a medicine man who equips him with primitive prosthetics\u2014lethal
        ones wit[...]
