interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v3/user/nekomata1037/animelist/all?search=fate&
  response:
    body:
      string: '{"request_hash":"request:user:cf7b4c8ddf3be7daac6f0fff34ec48065ffa63cf","request_cached":false,"request_cache_expiry":300,"anime":[{"mal_id":34321,"title":"Fate\/Grand
        Order: First Order","video_url":"https:\/\/myanimelist.net\/anime\/34321\/Fate_Grand_Order__First_Order\/video","url":"https:\/\/myanimelist.net\/anime\/34321\/Fate_Grand_Order__First_Order","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/6\/82651.jpg?s=5e98627ff702ff863d7ada6eec3a27dc","type":"Special","watching_status":2,"score":6,"watched_episodes":1,"total_episodes":1,"airing_status":2,"season_name":"Fall","season_year":2016,"has_episode_video":true,"has_promo_video":true,"has_video":true,"is_rewatching":false,"tags":null,"rating":"PG-13","start_date":"2018-07-12T00:00:00+00:00","end_date":"2018-07-12T00:00:00+00:00","watch_start_date":null,"watch_end_date":"2018-08-08T00:00:00+00:00","days":null,"storage":null,"priority":"Low","added_to_list":false,"studios":[{"mal_id":1087,"type":"anime","name":"Lay-duce","url":"https:\/\/myanimelist.net\/anime\/producer\/1087\/Lay-duce"}],"licensors":[{"mal_id":493,"type":"anime","name":"Aniplex
        of America","url":"https:\/\/myanimelist.net\/anime\/producer\/493\/Aniplex_of_America"}]},{"mal_id":22297,"title":"Fate\/stay
        night: Unlimited Blade Works","video_url":"https:\/\/myanimelist.net\/anime\/22297\/Fate_stay_night__Unlimited_Blade_Works\/video","url":"https:\/\/myanimelist.net\/anime\/22297\/Fate_stay_night__Unlimited_Blade_Works","image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/12\/67333.jpg?s=0677ea63a4297be2d629dbea528850b7","type":"TV","watching_status":2,"score":0,"watched_episodes":12,"total_episodes":12,"airing_status":2,"season_name":"Fall","season_year":2014,"has_episode_video":true,"has_promo_[...]
