interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/seasons/now
  response:
    body:
      string: '{"pagination":{"last_visible_page":3,"has_next_page":true,"current_page":1,"items":{"count":25,"total":57,"per_page":25}},"data":[{"mal_id":44511,"url":"https:\/\/myanimelist.net\/anime\/44511\/Chainsaw_Man","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1806\/126216.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1806\/126216t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1806\/126216l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1806\/126216.webp","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1806\/126216t.webp","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1806\/126216l.webp"}},"trailer":{"youtube_id":"q15CRdE5Bv0","url":"https:\/\/www.youtube.com\/watch?v=q15CRdE5Bv0","embed_url":"https:\/\/www.youtube.com\/embed\/q15CRdE5Bv0?enablejsapi=1&wmode=opaque&autoplay=1","images":{"image_url":"https:\/\/img.youtube.com\/vi\/q15CRdE5Bv0\/default.jpg","small_image_url":"https:\/\/img.youtube.com\/vi\/q15CRdE5Bv0\/sddefault.jpg","medium_image_url":"https:\/\/img.youtube.com\/vi\/q15CRdE5Bv0\/mqdefault.jpg","large_image_url":"https:\/\/img.youtube.com\/vi\/q15CRdE5Bv0\/hqdefault.jpg","maximum_image_url":"https:\/\/img.youtube.com\/vi\/q15CRdE5Bv0\/maxresdefault.jpg"}},"approved":true,"titles":[{"type":"Default","title":"Chainsaw
        Man"},{"type":"Japanese","title":"\u30c1\u30a7\u30f3\u30bd\u30fc\u30de\u30f3"},{"type":"English","title":"Chainsaw
        Man"}],"title":"Chainsaw Man","title_english":"Chainsaw Man","title_japanese":"\u30c1\u30a7\u30f3\u30bd\u30fc\u30de\u30f3","title_synonyms":[],"type":"TV","source":"Manga","episodes":12,"status":"Currently
        Airing","airing":true,"aired":{"from":"2022-10-12T00:00:00+00:00","to":null,"prop":{"from":{"day":12,"month":10,"year":2022},"to":{"day":null,"month":null,"year":null}},"string":"Oct
        12, 2022 to ?"},"duration":"24 min per ep","rating":"R - 17+ (violence & profanity)","score":8.83,"scored_by":181877,"rank":26,"popularity":159,"members":878027,"favorites":28161,"synopsis":"Denji
        is robbed of a normal teenage life, left with nothing but his deadbeat father''s
        overwhelming debt. His only companion is his pet, the chainsaw devil Pochita,
        with whom he slays devils for money that inevitably ends up in the yakuza''s
        pockets. All Denji can do is dream of a good, simple life: one with delicious
        food and a beautiful girlfriend by his side. But an act of greedy betrayal
        by the yakuza leads to Denji''s brutal, untimely death, crushing all hope
        of him ever achieving happiness.\n\nRemarkably, an old contract allows Pochita
        to merge with the deceased Denji and bestow devil powers on him, changing
        him into a hybrid able to transform his body parts into chainsaws. Because
        Denji''s new abilities pose a significant risk to society, the Public Safety
        Bureau''s elite devil hunter Makima takes him in, letting him live as long
        as he obeys her command. Guided by the promise of a content life alongside
        an attractive woman, Denji devotes everything and fights with all his might
        to make his naive dreams a reality.\n\n[Written by MAL Rewrite]","background":"Chainsaw
        Man was released in four volumes on Blu-ray and DVD from January 27, 2023
        to April 28, 2023.","season":"fall","year":2022,"broadcast":{"day":"Wednesdays","time":"00:00","timezone":"Asia\/Tokyo","string":"Wednesdays
        at 00:00 (JST)"},"producers":[],"licensors":[],"studios":[{"mal_id":569,"type":"anime","name":"MAPPA","url":"https:\/\/myanimelist.net\/anime\/producer\/569\/MAPPA"}],"genres":[{"mal_id":1,"type":"anime","name":"Action","url":"https:\/\/myanimelist.net\/anime\/genre\/1\/Action"},{"mal_id":10,"type":"anime","name":"Fantasy","url":"https:\/\/myanimelist.net\/anime\/genre\/10\/Fantasy"}],"explicit_genres":[],"themes":[{"mal_id":58,"type":"anime","name":"Gore","url":"https:\/\/myanimelist.net\/anime\/genre\/58\/Gore"}],"demographics":[{"mal_id":27,"type":"anime","name":"Shounen","url":"https:\/\/myanimelist.net\/anime\/genre\/27\/Shounen"}]},{"mal_id":50602,"url":"https:\/\/myanimelist.net\/anime\/50602\/Spy_x_Family_Part_2","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1111\/127508.jpg","small_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1111\/127508t.jpg","large_image_url":"https:\/\/cdn.myanimelist.net\/images\/anime\/1111\/127508l.jpg"},"webp":{"image_url":"https:\/\/cdn.myanime[...]
