interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.jikan.moe/v4/users/nekomata1037/friends
  response:
    body:
      string: '{"pagination":{"last_visible_page":1,"has_next_page":false},"data":[{"user":{"username":"kunalmanik95","url":"https:\/\/myanimelist.net\/profile\/kunalmanik95","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/5190041.jpg?t=1670618400"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/5190041.webp?t=1670618400"}}},"last_online":"2022-12-09T20:41:10+00:00","friends_since":"2019-03-29T14:15:00+00:00"},{"user":{"username":"purplepinapples","url":"https:\/\/myanimelist.net\/profile\/purplepinapples","images":{"jpg":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/4837235.jpg?t=1670617800"},"webp":{"image_url":"https:\/\/cdn.myanimelist.net\/images\/userimages\/4837235.webp?t=1670617800"}}},"last_online":"2022-12-09T20:41:10+00:00","friends_since":"2020-05-15T19:53:00+00:00"},{"user":{"username":"MaybeAPeson","url":"https:\/\/myanimelist.net\/profile\[...]
